<% if (user &&  user.isMember) {%>
    <a href="create-message">Create new message</a>
    <div class="messages-container">
        <% if (messages != undefined) { %>
            <% messages.forEach((msg)=>{ %>
                <div>
                    <div class="img-container">
                        <img src="/images/avatar<%=msg.User.Avatar%>.png" alt="" />
                    </div>
                    <div class="message-container">
                        <% if (user.isAdmin) {%>
                            <a type="get" href="<%=msg._id%>/delete">✖</a>
                        <% } %>
                        <p><%=msg.Topic%></p>
                        <p><%=msg.Message%></p>
                        <div class="author">
                            <p><%=msg.User.Firstname%> <%=msg.User.Lastname%></p>
                            <p><%=msg.Timestamp.toLocaleString()%></p>
                        </div> 
                    </div>
                    
                </div>
            <% }) %>
        <% } else { %>
            <p></p>
        <% } %>
    </div>
<% } else { %>
    <div class="messages-container">
        <% if (messages != undefined) { %>
            <% messages.forEach((msg)=>{ %>
                <div>
                    <div class="img-container">
                        <img src="/images/avatar<%=msg.User.Avatar%>.png" alt="" />
                    </div>
                    <div class="message-container">
                        <p><%=msg.Topic%></p>
                        <p><%=msg.Message%></p>
                        <div class="author">
                            <p>Anonymous</p>
                            <p><%=msg.Timestamp%></p>
                        </div> 
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p></p>
        <% } %>
    </div>
<%}%>
    